version: "3.8"

services:
  fastapi_app:
    build: .
    command: uvicorn src.api:app --host 0.0.0.0 --port 8000
    ports:
      - "80:8000" # Frontend will be available on host port 80, served by FastAPI
      - "8000:8000" # API will also be available on host port 8000
    environment:
      - GEMINI_API_KEY=YOUR_API_KEY_HERE # Replace with your actual Gemini API key
      - TRANSCRIPTION_SERVICE_URL=https://transcription-service.transcription-service.orb.local
